<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrapdocs.com/v3.3.1/docs/examples/cover/cover.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Card application</title>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Some Bank</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="about">About</a></li>
                  <li class="active"><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Contact Us</h1>
            <p class="lead">What do great 'Contact Us' pages look like? <br>
              Please tell us - somebank@notanemail.com
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>This site has been built using Express with Bootstrap.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>

<scripts>

</scripts>
