<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your Card application</title>
</head>
<body>
   <h1>Welcome <%=guestUser%></h1>


<form action="/proceed" method="post">
  <input type="submit" name="" value="Proceed to POC">
</form>
</body>
</html>
